<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<label><h1>Biodata</h1></label>
	<button id="idbtnedit" type="button" class="btn btn-circle idbtnplus">
		<span class="glyphicon glyphicon-edit" style="color: white"></span>
	</button>
	<br>
	<br>
	<hr>
	<div class="table-responsive">
		<table class="table">
			<thead>
			
			</thead>
			<tbody id="idTbodyPendidikan">
				<tr>
					<th>Sekolah/Intansi</th>
					<td>:</td>
					<td>Periode</td>
					
				</tr>
				<tr>
					<th>Sekolah/Intansi</th>
					<td>:</td>
					<td>Periode</td>
					
				</tr>
				<tr>
					<th>Sekolah/Intansi</th>
					<td>:</td>
					<td>Periode</td>
					
				</tr>
				<tr>
					<th>Sekolah/Intansi</th>
					<td>:</td>
					<td>Periode</td>
					
				</tr>
			</tbody>
		</table>
	</div>
	<Script>
	
	$('#idbtnedit').click(function() {
		debugger;
		//$('#idMdlNewBarang').modal('show');

		/* panggil url tambah barang menggunakan ajax*/
		
				/* pop up modalnya */
				$('#idMdlUbahbiodata').modal('show');
			
			
		});
	
	
	</Script>
	
</body>
</html>