@charset "ISO-8859-1";

#form-forgotpassword{
	
padding: 120px 0;	
	
}

#form-titleforgotpassword{
	
color: #ffffff;
}



.head1{
	
	margin: auto;
	background-color: #25158c;
	width: 44.2%;
	height: 50px;
	border-radius:15px 15px 0px 0px ;
	border: 2px solid #25158c;
	
}

.baris2{
	margin: auto;
	width: 53%;
	
	border: 2px solid #25158c;
	padding: 10px;
}

#password1{
	width: 500px;
	margin-left: -115px;
}

#password2{
	width: 500px;
	margin-left: -115px;
}