@charset "ISO-8859-1";

#form-forgotpassword{
	
padding: 120px 0;	
	
}

#form-titleforgotpassword{
	
color: #ffffff;
margin-top:20px;
font-size: 150%;
}



.head1{
	
	margin: auto;
	background-color: #25158c;
	width: 500px;
	height: 65px;
	border-radius:15px 15px 0px 0px ;
	border: 2px solid #25158c;
	
}

.baris2{
	margin: auto;
	width: 500px;
	height: 200px;
	border-radius:0px 0px 15px 15px ;
	border: 2px solid #25158c;
	padding: 10px;
}

#password1{
	width: 435px;
	height: 50px;
	margin-left: -115px;
	
	color: #010067;
	border: 2px solid #010067;
}

#password2{
	width: 435px;
	height: 50px;
	margin-left: -115px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #010067;
	border: 2px solid #010067;
}

#idSubmitPassword{
	color: #ffffff;
	background-color: #010067;
	margin-right: 10px;
}

#idFooterXsisMitraUtama{
	color: #010067;
	margin-top: 5px;
}