@charset "ISO-8859-1";

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color:	#000000;
}

#btn-close-form{
	color: #ffffff;
}

/* button dropdown more */
.ListButton{
	background-color:#010067;
	color: #ffffff;
}



#idlabeltitle{
	color: #010067;
}

hr {
    height: 5px;
    color: #010067;
    background-color: #010067;
    border: ;
}

/* Bagian Table list */

th,td {
	color: #010067;
  border-bottom: 2px solid #010067;
}

#idThNamaKeahlian,#idThLevelKeahlian,#idThAction{
	color: #010067;
  border-bottom: 2px solid #010067;
}


/* /////////////////////////////////////// */


/* Form add keahlian */

.modal-addkeahlian{
	width: 720px;
	border-radius: 10px;
	border: 2px solid #010067;
}

.modal-addkeahlianheader{
	background-color: #010067;
	
}

.modal-addkeahliantitle{
	color: #ffffff;
}

#idLabelNewNamaKeahlian,#idLabelNewLevelKeahlian,#idLabelNewCatatan{
	
	color: #010067;
	
}

#idAddSkillName,#idAddSkillLevel,#idAddCatatan{
	color: #010067;
	border: 1px solid #010067;
}


.formnewbuttons{
	
	border-style:hidden;
}


/* ////////////// */


/* Form ubah keahlian */

.modal-ubahkeahlian{
	width: 720px;
	border-radius: 10px;
	border: 2px solid #010067;
}
.modal-ubahkeahlianheader{
	background-color: #010067;
	
}

.modal-ubahkeahliantitle{
	color: #ffffff;
}


#idLabelUbahNamaKeahlian,#idLabelUbahLevelKeahlian,#idLabelUbahCatatan{
	color: #010067;
}

#idUbahSkillName,#idubahskilllevel,#idUbahCatatan{
	color: #010067;
	border: 1px solid #010067;
}


.formubahbuttons{
	
	border-style:hidden;
	
}

/* //////////////// */




.modal-hapuskeahlianheader{
	background-color: #FF0000;
	
}

.modal-hapuskeahliantitle{
	color: #ffffff;
}

.modal-keahlianhapus{
	width: 500px;
	border-radius: 10px;
	border: 2px solid #FF0000;
}

.modal-hapuskeahlianbody{
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;
}

.formdeletebuttons{
	border-style:hidden;
}
