<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Change Password</title>
<link rel="stylesheet" href="../styles/css/bootstrap.min.css">
<link rel="stylesheet" href="../styles/css/changepassword.css">
<script type="text/javascript" src="../scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../scripts/changepassword.js"></script>
<script type="text/javascript" src="../scripts/jquery.md5.js"></script>
<script type="text/javascript" src="../styles/js/bootstrap.min.js"></script>
</head>


<body>

<form id="form-changepassword" th:action="@{~/changepassword/save}" th:object="${addrbook}" method="POST">
<div class="container head1 ">
<div class="col-sm-12 ">
<h4 id="form-titlechangepassword">Ubah Kata Sandi</h4>
</div>
</div>

<div class="container body1">
<div class="row baris2">
<div class="col-sm-6 col-sm-offset-3">
<input type="hidden" th:field="*{id}" />

<input type="password" class=" form-control" th:field="*{abpwd}"  id="password1" placeholder="Kata Sandi Baru" autocomplete="off" maxlength="16">


<input type="password" class=" form-control" id="password2" placeholder="Ulang Kata Sandi Baru" autocomplete="off" maxlength="16">

<button input type="submit" class="col-xs-12 btn-lg" id="idSubmitPassword" >Ubah</button>

</div><!--/col-sm-6-->

</div><!--/row-->
</div>
</form>

<script>


$(document).ready(function() {
	

	
	$("#form-changepassword").on('submit', function(){
		
	    var ucase = new RegExp("[A-Z]+");
		var lcase = new RegExp("[a-z]+");
		var num = new RegExp("[0-9]+");
		var symbl = new RegExp("[\x21-\x2F \x3A-\x40 \x5B-\x60]+");
		
		
		
		if( !$("#password1").val()) {
			debugger;
			alert("Password Tidak Boleh Kosong");
			event.preventDefault();
		}
		
		else if($('#password1').val().trim()== "")
		{
			alert("Password tidak boleh diisi spasi saja!");
			event.preventDefault();
		}
	
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		else if($("#password1").val().length < 8){
			
			if($("#password1").val() != $("#password2").val()){
				
				if(num.test($("#password1").val())== false){
					
					if(ucase.test($("#password1").val())== false){
						
						if(lcase.test($("#password1").val())== false){
							debugger;
							alert("Password tidak sama, pastikan anda memasukkan password yang sama,Password Kurang dari 8 Karakter, dan Password Minimal ada 1 karakter Angka ,1 Karakter Huruf Besar,dan 1 Karakter Huruf Kecil");
							event.preventDefault();	
						}
						
						else if(symbl.test($("#password1").val())== false){
							debugger;
							alert("Password tidak sama, pastikan anda memasukkan password yang sama,Password Kurang dari 8 Karakter, dan Password Minimal ada 1 karakter Angka ,1 Karakter Huruf Besar,dan 1 Karakter Simbol");
							event.preventDefault();	
						}
						else{
							debugger;
							alert("Password tidak sama, pastikan anda memasukkan password yang sama,Password Kurang dari 8 Karakter, dan Password Minimal ada 1 karakter Angka dan 1 Karakter Huruf Besar");
							event.preventDefault();	
						}
						
					}
					
					else if(lcase.test($("#password1").val())== false){
						
						if(symbl.test($("#password1").val())== false){
							debugger;
							alert("Password tidak sama, pastikan anda memasukkan password yang sama ,Password Kurang dari 8 Karakter, dan Password Minimal ada 1 karakter Angka ,1 Karakter Huruf Kecil,dan 1 Karakter Simbol");
							event.preventDefault();	
						}
						
						else{
							debugger;
							alert("Password tidak sama, pastikan anda memasukkan password yang sama ,Password Kurang dari 8 Karakter, dan Password Minimal ada 1 karakter Angka dan 1 Karakter Huruf Kecil");
							event.preventDefault();	
						}

					}
					
					else if(symbl.test($("#password1").val())== false){
						debugger;
						alert("Password tidak sama, pastikan anda memasukkan password yang sama ,Password Kurang dari 8 Karakter, dan Password Minimal ada 1 karakter Angka dan 1 Karakter Simbol");
						event.preventDefault();	
					}
					
					else{
						debugger;
						alert("Password tidak sama, pastikan anda memasukkan password yang sama ,Password Kurang dari 8 Karakter, dan Password Minimal ada 1 karakter Angka");
						event.preventDefault();	
					}
					
				}
				
	 			else if(ucase.test($("#password1").val())== false){
					
					if(lcase.test($("#password1").val())== false){
						
						if(symbl.test($("#password1").val())== false){
							debugger;
							alert("Password tidak sama, pastikan anda memasukkan password yang sama ,Password Kurang dari 8 Karakter, dan Password Minimal ada 1 karakter Huruf Besar ,1 Karakter Huruf Kecil dan 1 Karakter Simbol");
							event.preventDefault();	
						}
						
						else{
						debugger;
						alert("Password tidak sama, pastikan anda memasukkan password yang sama ,Password Kurang dari 8 Karakter, dan Password Minimal ada 1 karakter Huruf Besar dan 1 Karakter Huruf Kecil");
						event.preventDefault();
						}
					}
					
					else if(symbl.test($("#password1").val())== false){
						debugger;
						alert("Password tidak sama, pastikan anda memasukkan password yang sama ,Password Kurang dari 8 Karakter, dan Password Minimal ada 1 karakter Huruf Besar dan 1 Karakter Simbol");
						event.preventDefault();	
					}
					
					else{
						debugger;
						alert("Password tidak sama, pastikan anda memasukkan password yang sama ,Password Kurang dari 8 Karakter, dan Password Minimal ada 1 karakter Huruf Besar");
						event.preventDefault();	
					}
				}
				
				else if(lcase.test($("#password1").val())== false){
					
					if(symbl.test($("#password1").val())== false){
						debugger;
						alert("Password tidak sama, pastikan anda memasukkan password yang sama ,Password Kurang dari 8 Karakter, dan Password Minimal ada 1 karakter Huruf Kecil dan 1 Karakter Simbol");
						event.preventDefault();	
					}
					
					else{
					debugger;
					alert("Password tidak sama, pastikan anda memasukkan password yang sama ,Password Kurang dari 8 Karakter, dan Password Minimal ada 1 Karakter Huruf Kecil");
					event.preventDefault();	
					}
				}
				
	 			else if(symbl.test($("#password1").val())== false){
						
					debugger;
					alert("Password tidak sama, pastikan anda memasukkan password yang sama ,Password Kurang dari 8 Karakter, dan Password Minimal ada 1 Karakter Simbol");
					event.preventDefault();
				}
				
				else{
					debugger;
					alert("Password Kurang dari 8 Karakter dan Password tidak sama, pastikan anda memasukkan password yang sama.");
					event.preventDefault();
				}
				
			}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			
			else if($("#password1").val() == $("#password2").val()){
				
				if(num.test($("#password1").val())== false){
					
					if(ucase.test($("#password1").val())== false){
						
						if(lcase.test($("#password1").val())== false){
							debugger;
							alert("Password Kurang dari 8 Karakter dan Password minimal ada 1 karakter Angka ,1 Karakter Huruf Besar,dan 1 Karakter Huruf Kecil");
							event.preventDefault();	
						}
						
						else if(symbl.test($("#password1").val())== false){
							debugger;
							alert("Password Kurang dari 8 Karakter dan Password Minimal ada 1 karakter Angka ,1 Karakter Huruf Besar,dan 1 Karakter Simbol");
							event.preventDefault();	
						}
						else{
							debugger;
							alert("Password Kurang dari 8 Karakter dan Password Minimal ada 1 karakter Angka dan 1 Karakter Huruf Besar");
							event.preventDefault();	
						}
						
					}
					
					else if(lcase.test($("#password1").val())== false){
						
						if(symbl.test($("#password1").val())== false){
							debugger;
							alert("Password Kurang dari 8 Karakter dan Password Minimal ada 1 karakter Angka ,1 Karakter Huruf Kecil,dan 1 Karakter Simbol");
							event.preventDefault();	
						}
						
						else{
							debugger;
							alert("Password Kurang dari 8 Karakter dan Password Minimal ada 1 karakter Angka dan 1 Karakter Huruf Kecil");
							event.preventDefault();	
						}

					}
					
					else if(symbl.test($("#password1").val())== false){
						debugger;
						alert("Password Kurang dari 8 Karakter dan Password Minimal ada 1 karakter Angka dan 1 Karakter Simbol");
						event.preventDefault();	
					}
					
					else{
						debugger;
						alert("Password Kurang dari 8 Karakter dan Password Minimal ada 1 karakter Angka");
						event.preventDefault();	
					}
					
				}
				
	 			else if(ucase.test($("#password1").val())== false){
					
					if(lcase.test($("#password1").val())== false){
						
						if(symbl.test($("#password1").val())== false){
							debugger;
							alert("Password Kurang dari 8 Karakter dan Password Minimal ada 1 karakter Huruf Besar ,1 Karakter Huruf Kecil dan 1 Karakter Simbol");
							event.preventDefault();	
						}
						
						else{
						debugger;
						alert("Password Kurang dari 8 Karakter dan Password Minimal ada 1 karakter Huruf Besar dan 1 Karakter Huruf Kecil");
						event.preventDefault();
						}
					}
					
					else if(symbl.test($("#password1").val())== false){
						debugger;
						alert("Password Kurang dari 8 Karakter dan Password Minimal ada 1 karakter Huruf Besar dan 1 Karakter Simbol");
						event.preventDefault();	
					}
					
					else{
						debugger;
						alert("Password Kurang dari 8 Karakter dan Password Minimal ada 1 karakter Huruf Besar");
						event.preventDefault();	
					}
				}
				
				else if(lcase.test($("#password1").val())== false){
					
					if(symbl.test($("#password1").val())== false){
						debugger;
						alert("Password Kurang dari 8 Karakter dan Password Minimal ada 1 karakter Huruf Kecil dan 1 Karakter Simbol");
						event.preventDefault();	
					}
					
					else{
					debugger;
					alert("Password Kurang dari 8 Karakter dan Password Minimal ada 1 Karakter Huruf Kecil");
					event.preventDefault();	
					}
				}
				
	 			else if(symbl.test($("#password1").val())== false){
						
					debugger;
					alert("Password Kurang dari 8 Karakter dan Password Minimal ada 1 Karakter Simbol");
					event.preventDefault();
				}    
							

				else{
				debugger
				alert("Password Tidak Boleh kurang dari 8 Karakter");
				event.preventDefault();
				}		
				
			}
		}	
		
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		
		
		else if($("#password1").val().length >= 8){
			
			if($("#password1").val() != $("#password2").val()){
				
				if(num.test($("#password1").val())== false){
					
					if(ucase.test($("#password1").val())== false){
						
						if(lcase.test($("#password1").val())== false){
							debugger;
							alert("Password tidak sama, pastikan anda memasukkan password yang sama dan Password Minimal ada 1 karakter Angka ,1 Karakter Huruf Besar,dan 1 Karakter Huruf Kecil");
							event.preventDefault();	
						}
						
						else if(symbl.test($("#password1").val())== false){
							debugger;
							alert("Password tidak sama, pastikan anda memasukkan password yang sama dan Password Minimal ada 1 karakter Angka ,1 Karakter Huruf Besar,dan 1 Karakter Simbol");
							event.preventDefault();	
						}
						else{
							debugger;
							alert("Password tidak sama, pastikan anda memasukkan password yang sama dan Password Minimal ada 1 karakter Angka dan 1 Karakter Huruf Besar");
							event.preventDefault();	
						}
						
					}
					
					else if(lcase.test($("#password1").val())== false){
						
						if(symbl.test($("#password1").val())== false){
							debugger;
							alert("Password tidak sama, pastikan anda memasukkan password yang sama dan Password Minimal ada 1 karakter Angka ,1 Karakter Huruf Kecil,dan 1 Karakter Simbol");
							event.preventDefault();	
						}
						
						else{
							debugger;
							alert("Password tidak sama, pastikan anda memasukkan password yang sama dan Password Minimal ada 1 karakter Angka dan 1 Karakter Huruf Kecil");
							event.preventDefault();	
						}

					}
					
					else if(symbl.test($("#password1").val())== false){
						debugger;
						alert("Password tidak sama, pastikan anda memasukkan password yang sama dan Password Minimal ada 1 karakter Angka dan 1 Karakter Simbol");
						event.preventDefault();	
					}
					
					else{
						debugger;
						alert("Password tidak sama, pastikan anda memasukkan password yang sama dan Password Minimal ada 1 karakter Angka");
						event.preventDefault();	
					}
					
				}
				
	 			else if(ucase.test($("#password1").val())== false){
					
					if(lcase.test($("#password1").val())== false){
						
						if(symbl.test($("#password1").val())== false){
							debugger;
							alert("Password tidak sama, pastikan anda memasukkan password yang sama dan Password Minimal ada 1 karakter Huruf Besar ,1 Karakter Huruf Kecil dan 1 Karakter Simbol");
							event.preventDefault();	
						}
						
						else{
						debugger;
						alert("Password tidak sama, pastikan anda memasukkan password yang sama dan Password Minimal ada 1 karakter Huruf Besar dan 1 Karakter Huruf Kecil");
						event.preventDefault();
						}
					}
					
					else if(symbl.test($("#password1").val())== false){
						debugger;
						alert("Password tidak sama, pastikan anda memasukkan password yang sama dan Password Minimal ada 1 karakter Huruf Besar dan 1 Karakter Simbol");
						event.preventDefault();	
					}
					
					else{
						debugger;
						alert("Password tidak sama, pastikan anda memasukkan password yang sama dan Password Minimal ada 1 karakter Huruf Besar");
						event.preventDefault();	
					}
				}
				
				else if(lcase.test($("#password1").val())== false){
					
					if(symbl.test($("#password1").val())== false){
						debugger;
						alert("Password tidak sama, pastikan anda memasukkan password yang sama dan Password Minimal ada 1 karakter Huruf Kecil dan 1 Karakter Simbol");
						event.preventDefault();	
					}
					
					else{
					debugger;
					alert("Password tidak sama, pastikan anda memasukkan password yang sama dan Password Minimal ada 1 Karakter Huruf Kecil");
					event.preventDefault();	
					}
				}
				
	 			else if(symbl.test($("#password1").val())== false){
						
					debugger;
					alert("Password tidak sama, pastikan anda memasukkan password yang sama dan Password Minimal ada 1 Karakter Simbol");
					event.preventDefault();
				}    
				
				else{
					debugger;
					alert("Password tidak sama, pastikan anda memasukkan password yang sama.");
					event.preventDefault();
				}
			}
////////////////////////////////////////////////////////////////////////////////////////////////////////
			
			else if($("#password1").val() == $("#password2").val()){
				
				if(num.test($("#password1").val())== false){
					
					if(ucase.test($("#password1").val())== false){
						
						if(lcase.test($("#password1").val())== false){
							debugger;
							alert("Password Minimal ada 1 karakter Angka ,1 Karakter Huruf Besar,dan 1 Karakter Huruf Kecil");
							event.preventDefault();	
						}
						
						else if(symbl.test($("#password1").val())== false){
							debugger;
							alert("Password Minimal ada 1 karakter Angka ,1 Karakter Huruf Besar,dan 1 Karakter Simbol");
							event.preventDefault();	
						}
						else{
							debugger;
							alert("Password Minimal ada 1 karakter Angka dan 1 Karakter Huruf Besar");
							event.preventDefault();	
						}
						
					}
					
					else if(lcase.test($("#password1").val())== false){
						
						if(symbl.test($("#password1").val())== false){
							debugger;
							alert("Password Minimal ada 1 karakter Angka ,1 Karakter Huruf Kecil,dan 1 Karakter Simbol");
							event.preventDefault();	
						}
						
						else{
							debugger;
							alert("Password Minimal ada 1 karakter Angka dan 1 Karakter Huruf Kecil");
							event.preventDefault();	
						}

					}
					
					else if(symbl.test($("#password1").val())== false){
						debugger;
						alert("Password Minimal ada 1 karakter Angka dan 1 Karakter Simbol");
						event.preventDefault();	
					}
					
					else{
						debugger;
						alert("Password Minimal ada 1 karakter Angka");
						event.preventDefault();	
					}
					
				}
				
	 			else if(ucase.test($("#password1").val())== false){
					
					if(lcase.test($("#password1").val())== false){
						
						if(symbl.test($("#password1").val())== false){
							debugger;
							alert("Password Minimal ada 1 karakter Huruf Besar ,1 Karakter Huruf Kecil dan 1 Karakter Simbol");
							event.preventDefault();	
						}
						
						else{
						debugger;
						alert("Password Minimal ada 1 karakter Huruf Besar dan 1 Karakter Huruf Kecil");
						event.preventDefault();
						}
					}
					
					else if(symbl.test($("#password1").val())== false){
						debugger;
						alert("Password Minimal ada 1 karakter Huruf Besar dan 1 Karakter Simbol");
						event.preventDefault();	
					}
					
					else{
						debugger;
						alert("Password Minimal ada 1 karakter Huruf Besar");
						event.preventDefault();	
					}
				}
				
				else if(lcase.test($("#password1").val())== false){
					
					if(symbl.test($("#password1").val())== false){
						debugger;
						alert("Password Minimal ada 1 karakter Huruf Kecil dan 1 Karakter Simbol");
						event.preventDefault();	
					}
					
					else{
					debugger;
					alert("Password Minimal ada 1 Karakter Huruf Kecil");
					event.preventDefault();	
					}
				}
				
	 			else if(symbl.test($("#password1").val())== false){
						
					debugger;
					alert("Password Minimal ada 1 Karakter Simbol");
					event.preventDefault();
				}    
				
				else{
					debugger;
					event.preventDefault();
					
					$("input[type='password']").each(function(){
						$(this).val(jQuery.md5($(this).val()));
					});
					var url = $(this).attr('action');
					var urlredir= 'http://localhost:8585/'
					debugger;

					// datakan data form dengan method serialize
					var data = $(this).serialize();
					$("input[type='password']").each(function(){
						$(this).val('');
					});
					$.ajax({
						url:url,
						type:'POST',
						data : data,
						dataType:'html',
						success:function(data){
							debugger;
							alert("Berhasil ubah password, silakan coba login kembali");
							window.location.replace(urlredir);
						},
						error: function(model){
							debugger;
						}
					});
				}
			}
////////////////////////////////////////////////////////////////////////////////////////////////////////////			
		}
	});
	
	
});
</script>


</body>
</html>