<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form id="form-ubahkeahlian" th:action="@{~/keahlian/saveubahkeahlian}" th:object="${keahlian}" method="POST">
	<div class="modal-header modal-ubahkeahlianheader">
		<button type="button" class="close btn-xs" id="btn-close-form"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title modal-ubahkeahliantitle">Ubah Keahlian </h4>
		
		<!-- ID,createdby,createdon,isdelete dengan HIDDEN -->
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{biodataId}" />
		<input type="hidden" th:field="*{createdBy}" />
		<input type="hidden" th:field="*{createdOn}" />
		<input type="hidden" th:field="*{isDelete}" />
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
					<label id="idLabelUbahNamaKeahlian">Nama Keahlian</label>
					<input type="text" th:field="*{skillName}" id="idUbahSkillName"class="form-control" maxlength="100"/>
			</div>			
			<div class="col-md-6 col-sm-6 col-xs-12">
					<label id="idLabelUbahLevelKeahlian">Level Keahlian<sup>*</sup></label>
					<select th:field="*{skillLevelId}" id="idubahskilllevel"class="form-control">
						<option value="">- Pilih Level-</option>
						<option th:each="item : ${listSkill}" th:text="${item.name}" th:value="${item.id}"></option>
					</select>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
					<label id="idLabelUbahCatatan">Catatan</label>
					<textarea th:field="*{notes}" class="form-control" rows="4" maxlength="1000" id="idUbahCatatan"> </textarea>
			</div>
		</div>
	</div>
	<div class="modal-footer formubahbuttons">
		<div class="btn-group">
       		<button type="button" class="btn btn-warning" id="btn-close-form">Batal</button>
       		<button type="submit" class="btn btn-primary save-editform" th:attr="data-biodata-id=${keahlian.biodataId}">Simpan</button>
       	</div>
     </div>
</form>

</body>
</html>