<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Keahlian</title>
<link rel="stylesheet" href="../styles/css/bootstrap.min.css">
<link rel="stylesheet" href="../styles/css/keahlian.css">
<script type="text/javascript" src="../scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../styles/js/bootstrap.min.js"></script>
</head>
<body>

	<label id="idlabeltitle"><h2>
			Keahlian
			<button id="idbtnplus" type="button" class="btn btn-circle" th:href="@{~/keahlian/add/}" th:attr="data-biodata-id=${biodata.id}">
				<span class="glyphicon glyphicon-plus" style="color: white"></span>
			</button>
		</h2></label>
	<hr>

	<div id="idDivTableKeahlian">
	
	
	<!-- Nulis table didalam body -->
	<!-- Nulis table didalam body -->
		<table class="table">
			<thead>
				<tr>
					<th id="idThNamaKeahlian">NAMA KEAHLIAN</th>
					<th id="idThLevelKeahlian">LEVEL KEAHLIAN</th>
					<th id="idThAction">#</th>
				</tr>
			</thead>
			<tbody id="list-keahlian">
				<tr th:each="item : ${listkeahlian}">
					<td th:text="${item.skillName}"></td>
					<td th:text="${item.skillLevel.name}" ></td>
					<td>
						<div class="btn-group">
							<button data-toggle="dropdown" class=" btn dropdown-toggle btn-sm ListButton" type="button" aria-expanded="false">
								More <span class="caret"></span>
							</button>
							<ul role="menu" class="dropdown-menu" >
		                      <li><a th:href="@{/keahlian/ubah/{sid}(sid=${item.id})}" class="btn-ubah">Ubah</a></li>
		                      <li><a th:href="@{/keahlian/hapus/{sid}(sid=${item.id})}" class="btn-hapus">Hapus</a></li>
		                    </ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<!-- Tempat modal dibody sebelum script -->
	<div id="idMdlNewKeahlian" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-addkeahlian" role="document">
	
			<div class="modal-content" id="idMdlBodyNewKeahlian">
			
			</div>
		</div>
	</div>
	
			<!-- Tempat modal Edit -->
			<div id="idMdlEditKeahlian" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-ubahkeahlian" role="document">
					<div class="modal-content" id="idMdlBodyEditKeahlian">

					</div>
				</div>
			</div>


	<!-- Tempat modal Hapus -->
	<div id="idMdlHapus" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-keahlianhapus" role="document">
			<div class="modal-content" id="idMdlBodyHapus">

			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
	</div>

	
	

	<script>
		$(document).ready(function() {

			$('#idDivTableKeahlian').on('show.bs.dropdown', function() {
				$('#idDivTableKeahlian').css("overflow", "inherit");
			});

			$('#idDivTableKeahlian').on('hide.bs.dropdown', function() {
				$('#idDivTableKeahlian').css("overflow", "auto");
			})

			
			/* 	menampilkan form create baru */
			$('#idbtnplus').click(function() {
				debugger;
				event.preventDefault();
				// mengambil nilai dari attribute btn-add-keahlian
				// lihat sintaks ini th:attr="data-biodata-id=${biodata.id}"
				var biodataId = $(this).attr('data-biodata-id');
				
				// ambil nilai attribute href
				// lihat th:href="@{~/keahlian/add/}"
				var url =  $(this).attr('href')+biodataId;
				// buat ajax untuk create
				// lihat keahlian controller @GetMapping(value="/keahlian/add/{bid}")
				$.ajax({
					url:url,
					type:'GET',
					dataType:'html',
					success:function(data){
						$("#idMdlBodyNewKeahlian").html(data);
						$("#idMdlNewKeahlian").modal('show');
					}
				});
			});
			
			// submit data from atau simpan data keahlian
			$("#idMdlNewKeahlian").on('submit','#form-addkeahlian', function(){
				// dapatkan url dari attribute action dari form #form-keahlian
				// lihat di file _create.html

				debugger;
				if( !$('#idAddSkillName').val()) {
					alert("Nama Keahlian harus diisi!");
					event.preventDefault();
				}
				else if($('#idAddSkillName').val().trim()== "")
				{
					alert("Nama Keahlian tidak boleh diisi spasi saja!");
					event.preventDefault();
				}
				else if( !$('#idAddSkillLevel').val() ) {
					alert("Level Keahlian harus dipilih!");
					event.preventDefault();
				}

				else {
				var biodataId = $('.save-form').attr('data-biodata-id');
				var urlredir= './'+biodataId 
				var url = $(this).attr('action');
				debugger;
				$("input, textarea").each(function(){
					  $(this).val(jQuery.trim($(this).val()));
				});
				// datakan data form dengan method serialize
				var data = $(this).serialize();
				debugger;
				
				$.ajax({
					url:url,
					type:'POST',
					data : data,
					dataType:'html',
					success:function(data){
						// masukan dulu result ke modal
						$("#idMdlBodyNewKeahlian").html(data);
						// check jumlah element yang memiliki class has-error
						var check = $("#idMdlBodyNewKeahlian").find(".has-error").length;
						// jika tidak ada error
						if(check==0){
							debugger;
							$("#idMdlNewKeahlian").modal('hide');
							window.location.replace(urlredir);
							// tampilkan data dengan memanggil method loadData
						}
					}
				});
				// cegah form redirect
				return false;
				
				}
			})
			.on('click','#btn-close-form', function(){
				$("#idMdlNewKeahlian").modal('hide');
			});
			
			
			
			// event hapus atau ubah
			$('#list-keahlian').on('click','.btn-hapus', function(event){
				
				debugger;
				// cegah link redirect
				event.preventDefault();
				debugger
				var url =  $(this).attr('href');
				// buat ajax untuk create
				// lihat keahlian controller @GetMapping(value="/keahlian/hapus/{sid}")
				$.ajax({
					url:url,
					type:'GET',
					dataType:'html',
					success:function(data){
						$("#idMdlBodyHapus").html(data);
						$("#idMdlHapus").modal('show');
					}
				});
			}).on('click','.btn-ubah', function(event){
				debugger;
				// cegah link redirect
				event.preventDefault();
				var url =  $(this).attr('href');
				// buat ajax untuk create
				// lihat keahlian controller @GetMapping(value="/keahlian/hapus/{sid}")
				$.ajax({
					url:url,
					type:'GET',
					dataType:'html',
					success:function(data){
						$("#idMdlBodyEditKeahlian").html(data);
						$("#idMdlEditKeahlian").modal('show');
					}
				});
			});
			
			
			$("#idMdlEditKeahlian").on('submit','#form-ubahkeahlian',function(){
				
				var biodataId = $('.save-editform').attr('data-biodata-id');
				var urlredir= './'+biodataId 
				debugger;
				
				debugger;
				if( !$('#idUbahSkillName').val()) {
					alert("Nama Keahlian harus diisi!");
					event.preventDefault();
				}
				else if($('#idUbahSkillName').val().trim()== "")
				{
					alert("Nama Keahlian tidak boleh diisi spasi saja!");
					event.preventDefault();
				}
				
				else if( !$('#idubahskilllevel').val() ) { 
					debugger;
					alert("Level keahlian harus dipilih");
					return false;
				}
				else{
				debugger;
				var url = $(this).attr('action');
				debugger;
				$("input, textarea").each(function(){
					  $(this).val(jQuery.trim($(this).val()));
				});
				// datakan data form dengan method serialize
				var data = $(this).serialize();
				debugger;
				$.ajax({
					url:url,
					type:'PUT',
					data : data,
					dataType:'html',
					success:function(data){
						debugger;
						$("#idMdlEditKeahlian").modal('hide');
						window.location.replace(urlredir);
					}
				});
				// cegah form redirect
				return false;
				}
			})
			.on('click','#btn-close-form', function(){
				$("#idMdlEditKeahlian").modal('hide');
			});
			
			$("#idMdlHapus").on('submit','#form-hapuskeahlian',function(){
				debugger;
				var biodataId = $('.submit-deleteform').attr('data-biodata-id');
				var urlredir= './'+biodataId 
				// dapatkan url dari attribute action dari form #form-keahlian
				// lihat di file _create.html
				var url = $(this).attr('action');
				// datakan data form dengan method serialize
				var data = $(this).serialize();
				$.ajax({
					url:url,
					type:'POST',
					data : data,
					dataType:'html',
					success:function(data){
						debugger;
						$("#idMdlHapus").modal('hide');
						window.location.replace(urlredir);
						/* window.location.replace("http://localhost:8585/keahlian"); */
					}
				});
				// cegah form redirect
				return false;

			})
			.on('click','#btn-close-hapus', function(){
				$("#idMdlHapus").modal('hide');
			});
		});
	</script>
</body>
</html>