
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="../styles/css/bootstrap.min.css" />
<link rel="stylesheet" href="../styles/css/jquery-ui.min.css" />
<link rel="stylesheet" href="../styles/datatables.min.css"/>
<link rel="stylesheet" href="../css/bootstrap.edit.css"/>
<script type="text/javascript" src="../scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../styles/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../scripts/datatables.min.js"></script>

<script type="text/javascript" src="../scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="../scripts/jquery.mask.min.js"></script>
</head>
<body>

	<!-- Tempat modal dibody sebelum script -->
					   <div class="table-responsive">
                  <table class="table">
                      <tr class="keterangan">
                        <td class="keterangan">Gaji yang diharapkan</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan">1000000</td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Negoitable</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan">Ya</td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Kapan Siap Mulai Bekerja</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan">Segera</td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Bersedia ditempatkan diluar kota</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan">Ya</td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Kontak Darutat(Keluarga tidak serumah)</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan">Steve Roger</td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Nomor Kontak Darurat</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan">085747755797</td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Sedang Melamar ditempat lain</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan">Tidak</td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Dimana</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan"></td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Tahapan seleksi melamar</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan"></td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Pernah sakit berat/ lama sembuh</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan">Tidak</td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Nama penyakit</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan"></td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Kapan (waktu sakit)</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan"></td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Pernah mengikuti psikotes</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan">Tidak</td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Keperluan psikotes</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan"></td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Kapan (waktu psikotes)</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan"></td>
                      </tr>
                      <tr class="keterangan">
                        <td class="keterangan">Keterangan lain</td>
                        <td class="keterangan">:</td>
                        <td class="keterangan"></td>
                      </tr>
                  </table>

                  <div class="col-md-4"></div>
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary button-join-left"><b>Batal</b></button>
                    <button type="button" class="btn btn-secondary button-join-right"><b>Simpan</b></button>
                  </div>
                  </div>
                </div>




</body>
</html>