<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Template Layout Admin LTE</title>
<link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">
<style type="text/css">
    body {

      background: #eeeeee;
   
    }
  </style>
</head>
<body>
<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>


		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">			
			<ul class="nav navbar-nav navbar-left">
				<li class="dropdown ">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					Menu 1
					<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="dropdown-header">SETTINGS</a></li>
					</ul>
				</li>
				<li class="dropdown ">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					Menu 2
					<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="dropdown-header">SETTINGS</a></li>
					</ul>
				</li>
				<li class="dropdown ">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					Menu 3
					<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="dropdown-header">SETTING</a></li>
						
					</ul>
				</li>
		 </ul>
		 
			<ul class="nav navbar-nav navbar-right">
          <li class="dropdown ">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					Login
					<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" class="dropdown-header">Ubah Kata Sandi</a></li>
						<li><a href="#" class="dropdown-header">Ganti Akses</a></li>
						<li><a href="/keluar" class="dropdown-header">Keluar</a></li>

					</ul>
				</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
         <button class="btn btn-bell" type="button">
							<span class="glyphicon glyphicon-bell" style="color:white"></span>
						</button>
        </ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
		</nav>
		<nav class="navbar navbar-light" style="background-color: #ffffff">
	  		<div class="container">
		  		<div class="navbar-header">
		  			<a class="navbar-brand" href="#">
						<h3><b>XSIS 2.0</b></h3>
					</a>
				</div>
			</div>
		</nav>

	<div class="container main-container">
		<div class="col-md-2 sidebar">
			<ul class="list-group">
				<li><a href="/barang" class="list-group-item"><span class="glyphicon glyphicon-bell"></span> Beranda</a></li>	
				<li><a href="/transaction" class="list-group-item"><span class="glyphicon glyphicon-bell"></span> Cari Pelamar</a></li>
				<li class="dropdown ">
				<a class="list-group-item dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
				<span class="glyphicon glyphicon-bell"></span> Data Pelamar
					<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-header">SETTINGS</li>
					</ul>
				</li>
				<li><a href="/prosespelamar" class="list-group-item"><span class="glyphicon glyphicon-bell"></span> Proses Pelamar</a></li>	
				<li class="dropdown ">
				<a class="list-group-item dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					<span class="glyphicon glyphicon-bell"></span> Penjadwalan
					<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-header">SETTINGS</li>
					</ul>
				</li>
				<li><a href="/transaction" class="list-group-item"><span class="glyphicon glyphicon-bell"></span> Tes</a></li>	
				<li><a href="/transaction" class="list-group-item"><span class="glyphicon glyphicon-bell"></span> Bootcamp</a></li>	
				<li><a href="/transaction" class="list-group-item"><span class="glyphicon glyphicon-bell"></span> 	Laporan</a></li>	
				
	
				
			</ul>
		</div>
		
		<div class="col-md-10 sidebar" id="fragment">
		</div>
			 
	</div>
</body>
<script src="../bootstrap/dist/js/jquery.min.js"></script>
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bootbox/bootbox.min.js"></script>
<script>

	
	$('.list-group-item').click(function(){
		debugger;
		var url=$(this).attr('href');
		$.ajax({
			url : url,
			type : 'get',
			dataType : 'html',
			success : function(result) {
				debugger;
				$('#fragment').html(result);
			},
			error:function(result){
				debugger;
			}
		});
		
		return false;
	});
	
	$('.dropdown-header').click(function(){
		debugger;
		var url=$(this).attr('href');
		$.ajax({
			url : url,
			type : 'get',
			dataType : 'html',
			success : function(result) {
				debugger;
				
				alert("keluar");
			},
			error:function(result){
				debugger;
			}
		});
		
		return false;
	});
	
</script>
</html>